body {
  background-color: yellowgreen;
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-size: 100px;
}

button {
  font-size: 30px;
}

p {
  font-size: 25px;
  margin-top: 5%;
}
